name: Create Zip Archive

on:
  push:
    branches:
      - '*'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Create Zip
      uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        filename: 'io-adventure-pack.zip'
        exclusions: '*.git* *.zip README.md'
    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "io-adventure-pack.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: 'v1.0'
